# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
*.iml
*.class
.gradle/
local.properties
.idea/
*.jks
key.properties

# iOS
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xcuserstate
Pods/
.symlinks/

# Secrets
.env
*.g.dart  # Arquivos gerados
*.freezed.dart

# IDE
.vscode/
.idea/
